<h1>
  Getting Started
</h1>
<section>
  <h2 {{anchor}}>
    Installation
  </h2>
  <h3 {{anchor 'install-with-yarn'}}>
    Yarn
  </h3>
  <CodeBlock @text="yarn add event-perk-grid" />
  <h3 {{anchor 'install-with-npm'}}>
    NPM
  </h3>
  <CodeBlock @text="npm install event-perk-grid" />
  <h3 {{anchor 'install-with-script-tag'}}>
    Script Tag
  </h3>
  <CodeBlock @text='<script src="https://unpkg.com/event-perk-grid/dist/custom-element.js"></script>' />
</section>
<section>
  <h2 {{anchor}}>
    Usage
  </h2>
  <h3 {{anchor 'usage-with-custom-element'}}>
    Custom Element
  </h3>
  <h3 {{anchor 'usage-with-APIs'}}>
    Using APIs
  </h3>
</section>