{{page-title 'Importing Custom Element'}}
<h2 {{anchor}}>
  Registering the Perk Grid element with a script tag
</h2>
<p>
  Register the
  {{code '<perk-grid>'}}
  element using a {{code '<script>'}} tag, then invoke the element in your template.
  Optionally, you can also include this library's CSS file to provide minimal CSS grid styles.
</p>
<PerkGridElementDocs />
<h3 {{anchor}}>Example Code</h3>
<p>
  <FetchExampleFile @file={{concat 'script-tag-custom-element/index.hbs'}} as |fetched|>
    <CodeBlock @file="index.html" @text={{fetched.text}} />
  </FetchExampleFile>
</p>
<h3 {{anchor}}>Result</h3>
<Examples::ScriptTagCustomElement />