<h3 {{anchor}}>Example Code</h3>
<p>
  <FetchExampleFile @file={{concat @component '/index.js'}} as |fetched|>
    <CodeBlock @file={{fetched.file}} @text={{fetched.text}} />
  </FetchExampleFile>
</p>
<p>
  <FetchExampleFile @file={{concat @component '/index.hbs'}} as |fetched|>
    <CodeBlock @file={{fetched.file}} @text={{fetched.text}} />
  </FetchExampleFile>
</p>
<h3 {{anchor}}>Result</h3>
<p>
  {{component (concat 'examples/' @component)}}
</p>