<p>
  The
  {{code "<perk-grid>"}}
  element displays a grid of sponsorship packages and their perks using data from the Tilde Events App API.
  It also handles loading and error states for the data.
</p>
<h3 {{anchor}}>
  Attributes
</h3>
<p>
  The {{code "data-event-id"}} attribute is required to be set to the ID corresponding to the event.
  All other attributes are optional.
  Learn more about optional attributes in the
  {{api-docs-link "/interfaces/custom_element.PerkGridDataSet.html"}}.
</p>
<h3 {{anchor}}>
  Events
</h3>
<p>
  When the {{code "<perk-grid>"}} element is rendered or disconnected from the DOM, several events are fired to indicate the element state.
  Learn more about these events in the API docs for
  {{api-docs-link "/classes/custom_element.PerkGrid.html#connectedCallback" "connectedCallback"}} and
  {{api-docs-link "/classes/custom_element.PerkGrid.html#disconnectedCallback" "disconnectedCallback"}}.
</p>
<h3 {{anchor}}>
  CSS Classes
</h3>
<p>
  See a list of the element's CSS classes
  {{api-docs-link "/modules/custom_element.html#CLASSES" "here"}} and
  {{api-docs-link "/modules/index.html#CLASSES" "here"}}.
</p>
<h3 {{anchor}}>Further documentation</h3>
<p>
  For more details, see the {{api-docs-link "/modules/custom_element.html"}}.
</p>